.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  padding: 10px 16px;
  vertical-align: top;
}
.subscribe-button:hover {
  opacity: 0.8;
}
.subscribe-button:active {
  opacity: 0.4;
}
.join-button:hover {
  background-color: rgb(6, 95, 212);
  color: white;
}
.join-button:active {
  opacity: 0.7;
}
.join-button {
  color: rgb(6, 95, 212);
  padding: 20px 30px;
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;

  border-radius: 2px;
  cursor: pointer;
  margin-right: 6px;
  transition: background-color 0.15s, color 0.15s;
  vertical-align: top;
  padding: 9px 16px;
}
.twitter-button {
  color: white;
  background-color: rgb(29, 155, 240);
  padding: 9px 16px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  transition: box-shadow 0.15s;
}
.twitter-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
